<wolfram:get path='Templates/index.html'>
  <wolfram:slot id="content">
    <div class="panel">
      <div class="panel-body">
        <wolfram:slot id="result"></wolfram:slot>
        <a href="http://www.amazon.com/Sterling-Silver-Flake-Pendant-Genuine/dp/B016RJSVZI" target="_blank" class="small">Buy on Amazon &rarr;</a>
      </div>
      <div class="panel-footer">
    		<nav>
    		  <ul class="pager">
    		  	<wolfram:if test="#number > 1">
    		    	<li><a href="`AppRoot`snowflake/<* #number - 1 *>">Previous</a></li>
    		    </wolfram:if>
    		    <li><a href="`AppRoot`snowflake/<* #number + 1 *>">Next</a></li>
    		  </ul>
    		</nav>      	
      </div>
    </div>
  </wolfram:slot>
</wolfram:get>