<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SnowFlaker!</title>
    <!-- Bootstrap core CSS -->
    <link href='//bootswatch.com/simplex/bootstrap.min.css' type="text/css" rel="stylesheet">
    <style>
      .starter-template {margin-top: 80px}
    </style>
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="`AppRoot`">SnowFlaker™</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="`AppRoot`">Home</a></li>
            <li><a href="`AppRoot`">About</a></li>
            <li><a href="`AppRoot`">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <h1>
          <wolfram:slot id="title">
            SnowFlaker™
          </wolfram:slot>
        </h1>
        <p class="lead">
          <wolfram:slot id="description">
            The app for all snow flakes lovers around the world.
          </wolfram:slot>
        </p>
        <wolfram:slot id="content">
        <form method="POST" class="panel">
          <div class="panel-body">
            <wolfram:slot id="result"></wolfram:slot>
          </div>
          <div class="panel-body text-right">
            <button type="submit" class="btn btn-lg btn-primary">SnowFlaker!</button>
          </div>

          <div class="panel-body">
            <h4 class="page-header text-center">Best snowflakes ever</h4>
            <div class="row">
            <wolfram:sequence values="Range[5, 10]">
              <div class="col-sm-2">
                <a href="`AppRoot`snowflake/`1`"><* generator[#1] *></a>
              </div>
            </wolfram:sequence>
            </div>
          </div>

        </form>
        </wolfram:slot>
      </div>
    </div><!-- /.container -->

    <div class="footer container text-center">
      <small class="text-muted">
        &copy; Snoflaker™ <* DateString["Year"] *> - 
        Made with <i class="glyphicon glyphicon-heart text-danger"></i> in Italy.
      </small>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script   src="//code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous" defer="defer"></script>
    <script defer="defer" type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>
